.about-hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/12_mountains2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 50%;

}

.about-hero-text {
	text-align: center;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.services {
	background-color: #26252b;
	text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.clients {
	background-color: #26252b;
	text-align: center;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.whyus {
	background-color: #26252b;
	text-align: center;
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%,-50%);
}